@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');


$font-roboto: 'Roboto Condensed', sans-serif;
$font-kanit: 'Kanit', sans-serif;



$theme: #4b4453;
$content: #a77ce4;
$link: #00c0ff;

body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $theme;
}
a {
    text-decoration: none;
}


.my_data {
    .card {
        border: 0px;
        padding: 12px 18px;
        margin-bottom: 24px;
        box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
        background: #312d36;
        color: $content;

        &_img {
            margin-bottom: 16px;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }

        &_body {
            padding-inline: 6px;

            a {
                color: $link;
            }
        }

        &_title {
            // color: ;
            font-family: var($font-kanit);
            font-weight: 600;
        }
    }
}